// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */

/* Colors */
@black: #000000;
@softgray: #F5F5F5;
@white: #ffffff;
@blue: #2D3258;
@orange: #F2B91A;
@red: #D30808;
@redhover: #7C0000;
@footer: #13152C;

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html,
body {
    height: 100%;
}

body {
    color: #353535;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}


.page-container {
    min-height: 85vh;
}

.container {
    max-width: 1300px;
}


/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.8);

    & .header-call-container {
        .display(flex);
        align-items: center;
        justify-content: flex-end;

        & .header-call-icon {
            & .fa {
                background: @orange;
                color: @white;
                padding: 0.4rem 0.5rem;
                border-radius: 100%;
                margin-right: 15px;
                font-size: 1.1rem;
            }
        }

        & .header-call-info {
            font-size: 1rem;
            line-height: 1rem;
            text-transform: uppercase;
            color: @blue;
            font-weight: 500;

            & p {
                margin-bottom: 0.5rem;
            }

            & a {
                color: @blue;
                font-size: 1.5rem;
                font-weight: 700;

            }
        }
    }
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    background: @footer;
    color: @white;
    padding: 4rem;

    & .row-footer {
        & .footer-item {
            font-size: .9rem;

            & .social-widget a {
                background: @orange;
                color: @footer;
                font-size: 1.2rem;
                margin: 0.3rem;
                border-radius: 100%;
                height: 50px;
                width: 50px;
                display: inline-block;
                text-align: center;
                padding-top: 0.7rem;
            }

            & .widget_media_image img {
                margin: 0 auto;
                display: block;
            }

            & ul {
                list-style: none;
                padding: 0;
                margin: 0;

                & li {
                    & a {
                        color: @white;
                    }
                }
            }
        }

        & .footer-item-3 {
            text-align: right;
        }
    }
}


/* --------------------------------------------------------------
3.- LANDING
-------------------------------------------------------------- */
.the-hero {
    background-size: cover !important;
    min-height: 100vh;
    background-position: 5vw center !important;
    background-repeat: no-repeat !important;

    & .hero-text-content {
        padding-top: 15%;
        padding-right: 5rem;
        font-size: 1.1rem;
        line-height: 2rem;
        text-align: justify;
        padding-bottom: 3rem;

        & h1 {
            color: @blue;
            font-size: 2.3rem;
            line-height: 2.7rem;
            margin-bottom: 1.5rem;
        }
    }
}

.the-distro-info {
    background: @softgray;
    color: @blue;
    padding-top: 5rem;
    text-align: center;

    & .distro-info-container {
        text-transform: uppercase;
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 2.4rem;

        & .offer-text {
            position: relative;
            display: inline-block;
            color: @white;
            background: @red;
            margin-top: 1rem;
            padding: 5px 2.2rem;
            font-weight: 700;
            font-size: 0.9rem;
            line-height: 1.5rem;

            &:before {
                background: @softgray;
                content: ' ';
                display: block;
                position: absolute;
                top: 0;
                left: -20px;
                width: 35px;
                height: 35px;
                .transform(rotate(45deg));
            }

            &:after {
                background: @softgray;
                content: ' ';
                display: block;
                position: absolute;
                top: 0;
                right: -20px;
                width: 35px;
                height: 35px;
                .transform(rotate(45deg));
            }
        }
    }
}

.the-distro-slider {
    background: @softgray;
    color: @blue;
    padding-bottom: 4rem;

    & .btn-distro {
        background: @orange;
        color: @white;
        padding: 1rem 2rem;
        border-radius: 0;
        font-weight: 600;
        text-transform: uppercase;
    }

    & .distro-slider-content {
        padding: 5rem 0;

        & .distro-item {
            text-align: center;

            & img {
                display: block;
                width: 100%;
                height: auto;
                max-width: 160px;
                margin: 0 auto;
                margin-bottom: 3rem;
            }
        }
    }
}


.the-testimonials {
    padding: 7rem;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    text-align: center;

    & .testimonial-intro {
        & h4 {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
            font-weight: 500;
        }

        & h2 {
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 7rem;
        }
    }

    & .testimonial-boxed-content {
        position: relative;
        background: rgba(45, 50, 88, 0.9);
        color: @white;
        padding: 5rem 11rem;
        padding-bottom: 2rem;

        & .img-quote {
            background: @white;
            border-radius: 100%;
            position: absolute;
            top: -2.5rem;
            left: 46.5%;
        }

        & .testimonials-stars {
            color: @orange;
            margin-bottom: 1.5rem;
            letter-spacing: 0.3rem;
        }

        & .testimonial-item {
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.9rem;

            & h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 1.25rem;
                margin-bottom: 1.5rem;
                font-weight: 600;
            }

            & .testimonial-item-name {
                font-size: 1.3rem;
                margin-top: 2.5rem;
            }
        }
    }
}

.the-product {
    padding: 5rem;

    & .product-info {
        & h4 {
            color: @orange;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.5rem;
            margin-bottom: 1rem;
        }

        & h2 {
            color: @blue;
            font-size: 2.3rem;
            line-height: 2.8rem;
        }
    }

    & .product-countdown {
        text-align: center;

        & .countdown-container {
            .display(flex);
            align-items: center;
            justify-content: center;

            & div {
                font-size: 3rem;
                line-height: 2.5rem;
                padding: 0.3rem;
                padding-top: 1rem;
                width: 120px;
                margin: 0 .5rem;
                border-radius: 15px;
                border: 3px solid @orange;
                color: @blue;
                font-weight: 600;

                & span {
                    display: block;
                    font-size: 1rem;
                    margin-top: 5px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }

    & .product-link {
        text-align: center;
        margin: 4rem 0;
        margin-bottom: 2rem;

        & .btn-product {
            background: @orange;
            color: @white;
            text-transform: uppercase;
            padding: 0.9rem 8rem;
            border-radius: 0;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}

.floating-bar {
    position: relative;
    background: @orange;
    color: @blue;
    padding: 1.5rem;
    z-index: 9;

    & .floating-close {
        position: absolute;
        right: 1rem;
        top: .5rem;

        & .img-close {
            cursor: pointer;
        }
    }

    & .floating-bar-info {
        & h2 {
            font-size: 1.1rem;
            line-height: 1.4rem;

            & strong {
                font-weight: 700;
                font-size: 1.5rem;
            }
        }
    }

    & .floating-bar-countdown {
        text-align: center;

        & .countdown-container {
            .display(flex);
            align-items: center;
            justify-content: center;

            & div {
                font-size: 1.4rem;
                line-height: 1.4rem;
                padding: .3rem;
                width: 80px;
                margin: 0 .5rem;
                border-radius: 15px;
                border: 1px solid @blue;
                color: @blue;
                font-weight: 600;

                & span {
                    display: block;
                    font-size: .9rem;
                    margin-top: 5px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }

    & .floating-bar-link {
        text-align: right;

        & .btn-product {
            background: @red;
            color: @white;
            text-transform: uppercase;
            padding: 0.8rem 4rem;
            border-radius: 0;
            font-size: 1.2rem;
            font-weight: 600;

            &:hover {
                background: @redhover;
            }
        }
    }
}

.floating-bar-fixed {
    position: fixed;
    bottom: 0;
    left: 0;

}

.floating-bar-triggered {
    display: none;
}
