// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {}

@media (max-width: 1366px) {}

@media (max-width: 1280px) {
    .the-distro-slider .btn-distro {
        padding: 1rem 1.3rem;
    }

    .the-distro-info .distro-info-container {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}

@media (max-width: 1170px) {
    .the-hero {
        background-position: -8vw center !important;
    }

    .the-hero .hero-text-content h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .the-distro-info .distro-info-container {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

@media (max-width: 1024px) {
    .the-hero .hero-text-content {
        padding-right: 3rem;
    }

    .the-hero .hero-text-content h1 {
        font-size: 1.6rem;
        line-height: 2.3rem;
    }

    .the-testimonials .testimonial-intro h2 {
        font-size: 2rem;
        margin-bottom: 5rem;
    }

    .the-testimonials .testimonial-intro h4 {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
        font-weight: 500;
    }

    .the-testimonials .testimonial-boxed-content {
        padding: 5rem 5rem;
        padding-bottom: 2rem;
    }

    .the-product .product-info h2 {
        color: #2D3258;
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .floating-bar .floating-bar-info h2 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .floating-bar .floating-bar-link .btn-product {
        padding: 0.8rem 2rem;
    }
}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .the-hero .hero-text-content {
        padding-right: 1rem;
        font-size: 1rem;
        padding-top: 20%;
    }

    .the-hero {
        background-position: -48vw center !important;
        min-height: 90vh;
    }

    .the-distro-info .distro-info-container {
        font-size: 1.2rem;
        line-height: 2.3rem;
    }

    .the-product .product-info h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .the-product .product-info h4 {
        font-size: 1.6rem;
        line-height: 2.3rem;
    }

    .floating-bar .floating-bar-info h2 {
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .the-footer .row-footer .footer-item .social-widget a {
        height: 40px;
        width: 40px;
        padding-top: 0.4rem;
    }

    .the-testimonials .testimonial-boxed-content .img-quote {
        left: 44.5%;
    }

    .the-testimonials .testimonial-boxed-content .testimonial-item h1,
    .the-testimonials .testimonial-boxed-content .testimonial-item h2,
    .the-testimonials .testimonial-boxed-content .testimonial-item h3,
    .the-testimonials .testimonial-boxed-content .testimonial-item h4,
    .the-testimonials .testimonial-boxed-content .testimonial-item h5,
    .the-testimonials .testimonial-boxed-content .testimonial-item h6 {
        font-size: 1.15rem;
    }
}

@media (max-width: 800px) {}

@media (max-width: 768px) {
    .the-testimonials .testimonial-intro h4 {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .the-testimonials .testimonial-intro h2 {
        font-size: 1.7rem;
        margin-bottom: 5rem;
    }

    .the-testimonials .testimonial-boxed-content .testimonial-item h1,
    .the-testimonials .testimonial-boxed-content .testimonial-item h2,
    .the-testimonials .testimonial-boxed-content .testimonial-item h3,
    .the-testimonials .testimonial-boxed-content .testimonial-item h4,
    .the-testimonials .testimonial-boxed-content .testimonial-item h5,
    .the-testimonials .testimonial-boxed-content .testimonial-item h6 {
        font-size: 1.05rem;
        margin-bottom: 1rem;
    }

    .the-testimonials .testimonial-boxed-content .testimonial-item {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.7rem;
    }

    .floating-bar .floating-bar-info h2 {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }

    .floating-bar .floating-bar-link .btn-product {
        padding: 0.8rem 1rem;
    }
}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */
@media (max-width: 600px) {
    .product-info {
        text-align: center;
    }

    .the-hero {
        background-position: center center !important;
        min-height: unset;
    }

    .the-hero .hero-text-content {
        padding-right: 1rem;
        font-size: 1rem;
        padding-top: 25%;
        padding-bottom: 1rem;
        background: rgba(255, 255, 255, 0.9);
    }

    .the-product .product-info h2 {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    .the-product .product-info h4 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .social-widget {
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .the-footer .row-footer .footer-item-3 {
        text-align: center;
        margin-top: 2.5rem;
    }

    .floating-bar-info {
        text-align: center;
        margin-bottom: .5rem;
    }

    .floating-bar .floating-bar-countdown {
        display: none;
    }

    .floating-bar .floating-bar-link {
        text-align: center;
        margin-top: 1rem;
    }

    .floating-bar .floating-close img {
        width: 25px;
        height: 25px;
        display: block;
    }

    .floating-bar {
        padding: 1rem;
    }

    .floating-bar .floating-close img {
        width: 25px;
        height: 25px;
    }

    .the-testimonials .testimonial-intro h4 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 2rem;
    }

    .the-testimonials .testimonial-intro h2 {
        font-size: 2.2rem;
        margin-bottom: 5rem;
    }

    .the-testimonials .testimonial-boxed-content {
        padding: 5rem 1.5rem;
        padding-bottom: 2rem;
    }

    .the-product .product-countdown {
        text-align: center;
        margin-top: 2rem;
    }

    .the-footer {
        padding: 2rem;
    }

    .the-product .product-link {
        text-align: center;
        margin: 2.5rem 0;
        margin-bottom: 0;
    }

    .the-testimonials {
        padding: 4rem;
    }
}

@media (max-width: 533px) {
    .img-logo {
        max-width: 140px;
    }

    .the-header .header-call-container .header-call-info {
        font-size: 0.8rem;
        line-height: .9rem;
    }

    .the-header .header-call-container .header-call-info a {
        font-size: 1.2rem;
    }

    .the-product .product-countdown .countdown-container div {
        font-size: 1.6rem;
        line-height: 2rem;
    }


}

@media (max-width: 450px) {
    .floating-bar .floating-bar-info h2 {
        font-size: 0.8rem;
        line-height: 1.4rem;
    }

    .floating-bar .floating-bar-info h2 strong {
        font-weight: 700;
        font-size: 1.2rem;
    }

    .floating-bar .floating-bar-link .btn-product {
        padding: 0.3rem 3rem;
    }

    .the-distro-info .distro-info-container {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .the-distro-slider .btn-distro {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    .the-testimonials .testimonial-intro h4 {
        font-size: 1.1rem;
        margin-bottom: 1.1rem;
        line-height: 1.8rem;
    }

    .the-testimonials .testimonial-intro h2 {
        font-size: 1.8rem;
        margin-bottom: 4rem;
        line-height: 2.4rem;
    }

    .the-testimonials .testimonial-boxed-content .img-quote {
        left: 40.5%;
    }

    .the-testimonials .testimonial-boxed-content .testimonial-item h1,
    .the-testimonials .testimonial-boxed-content .testimonial-item h2,
    .the-testimonials .testimonial-boxed-content .testimonial-item h3,
    .the-testimonials .testimonial-boxed-content .testimonial-item h4,
    .the-testimonials .testimonial-boxed-content .testimonial-item h5,
    .the-testimonials .testimonial-boxed-content .testimonial-item h6 {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    .the-product .product-countdown .countdown-container div {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .the-product .product-link .btn-product {
        padding: 0.9rem 5rem;
    }


}

@media (max-width: 414px) {
    .the-hero .hero-text-content {
        padding-top: 35%;
    }
}

@media (max-width: 375px) {
    .the-product .product-countdown .countdown-container div {
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding-top: .5rem;
    }

    .img-logo {
        max-width: 105px;
    }

    .the-product .product-countdown .countdown-container div span {
        font-size: 0.9rem;
    }

    .the-testimonials .testimonial-boxed-content .img-quote {
        left: 38.5%;
    }
}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

@media (max-width: 240px) {}
